.topicos {
    background: linear-gradient(#002F52,#326589);
    text-align: center;
    padding: 1em;
}

.topicos h2{
    color: var(--cor-branca);
    font-weight: 300;
    text-transform: uppercase;
    margin: 1em 0;
}

.topicos ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos a{
    background-color: var(--laranja);
    padding: 1em;
    display: inline-block;
    margin: 1em .5em;
    color: var(--cor-branca);
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

@media screen and (min-width:1024px){
    .topicos h2,
    .topicos a{
        font-size: 24px;
    }

    .topicos ul{
        margin: 0 2em;
    }
}

@media screen and (min-width:1728px){
    .topicos ul{
        width: 50%;
        margin: 0 auto;
    }
}